@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x:hidden;
    scroll-behavior: smooth;
}

.optionlistContainer{
    width: fit-content;
}
