.recipe-steps-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.recipe-steps-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.recipe-step {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.recipe-step p {
    margin: 5px 0;
}

.video-container {
    margin-top: 10px;
}

ol {
    padding-left: 20px;
}
